In [8]:
import pandas as pd

# Creating a DataFrame from a dictionary
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}
df_data = pd.DataFrame(data)
print("DataFrame from dictionary:")
print(df_data)

# Reading data from a CSV file
df = pd.read_csv('flight_tracking.csv')
print("DataFrame from CSV:")
print(df)

# Export Data
df.to_csv('output.csv', index=False)

DataFrame from dictionary:
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
DataFrame from CSV:
      hex_ident  altitude(feet)  latitude  longitude        date  \
0        40631C           14525  53.65947   -1.43819  2017/09/11
1        40631C           14525  53.65956   -1.43921  2017/09/11
2        40631C           14500  53.65979   -1.44066  2017/09/11
3        40631C           14475  53.66025   -1.44447  2017/09/11
4        40631C           14475  53.66044   -1.44591  2017/09/11
...         ...             ...       ...        ...         ...
33761    4CA5EA            3850  53.74255   -1.47028  2017/09/16
33762    4CA5EA            3850  53.74312   -1.47128  2017/09/16
33763    4CA5EA            3800  53.74428   -1.47322  2017/09/16
33764    4CA5EA            3750  53.74596   -1.47588  2017/09/16
33765    4CA5EA            3350  53.76122   -1.50068  2017/09/16

               time   angle  distance(nauticalmile)  squawk  \
0      17:02:06.418 -120.77                   11.27  6276.0
1      17:02:06.875 -120.64                   11.30  6276.0
2      17:02:07.342 -120.43                   11.32  6276.0
3      17:02:09.238 -119.94                   11.40  6276.0
4      17:02:09.825 -119.75                   11.43  6276.0
...             ...     ...                     ...     ...
33761  10:38:26.698 -100.71                    9.68  3123.0
33762  10:38:27.687 -100.54                    9.70  3123.0
33763  10:38:29.652 -100.21                    9.75  3123.0
33764  10:38:32.596  -99.75                    9.81  3123.0
33765  10:38:58.941  -95.84                   10.47  3123.0

       ground_speed(knotph)  track  callsign
0                     299.0  283.0       NaN
1                     299.0  283.0       NaN
2                     299.0  283.0  EZY63BT
3                     299.0  283.0  EZY63BT
4                     299.0  283.0  EZY63BT
...                     ...    ...       ...
33761                 178.0  316.0  RYR68VH
33762                 177.0  316.0  RYR68VH
33763                 177.0  316.0  RYR68VH
33764                 177.0  316.0  RYR68VH
33765                 173.0  316.0   RYR68VH

[33766 rows x 12 columns]

In [6]:
# Selecting a single column
print("Angle column:")
print(df['angle'])

# Selecting rows based on a condition
print("Rows where angle is greater than 0:")
print(df[df['angle'] > 0])

# Assigning a new column
df_data['Gender'] = ['Female', 'Male', 'Male']
print("DataFrame with new column:")
print(df)

Angle column:
0       -120.77
1       -120.64
2       -120.43
3       -119.94
4       -119.75
          ...
33761   -100.71
33762   -100.54
33763   -100.21
33764    -99.75
33765    -95.84
Name: angle, Length: 33766, dtype: float64
Rows where angle is greater than 0:
      hex_ident  altitude(feet)  latitude  longitude        date  \
473      400FF2           28075  53.97811   -1.08425  2017/09/11
1441     400EFC           37975  53.69321   -1.01769  2017/09/11
1442     400EFC           37975  53.69349   -1.02044  2017/09/11
1443     400EFC           37975  53.69380   -1.02330  2017/09/11
1445     400EFC           37975  53.69458   -1.03028  2017/09/11
...         ...             ...       ...        ...         ...
33668    440BB8           30025  53.61873   -1.08854  2017/09/16
33669    440BB8           30025  53.62024   -1.09895  2017/09/16
33670    440BB8           30000  53.63344   -1.19355  2017/09/16
33671    440BB8           30000  53.63393   -1.19727  2017/09/16
33672    440BB8           30025  53.63544   -1.20769  2017/09/16

               time   angle  distance(nauticalmile)  squawk  \
473    17:54:14.753   32.38                   12.13  3416.0
1441   21:38:19.450  117.80                    8.93     NaN
1442   21:38:20.309  118.08                    8.84     NaN
1443   21:38:21.292  118.36                    8.75  6267.0
1445   21:38:23.255  119.09                    8.54  6267.0
...             ...     ...                     ...     ...
33668  10:22:57.639  145.99                   11.12  2232.0
33669  10:23:00.720  148.12                   10.90  2232.0
33670  10:23:28.251  174.51                    9.39  2232.0
33671  10:23:29.300  175.79                    9.36  2232.0
33672  10:23:32.506  179.44                    9.26  2232.0

       ground_speed(knotph)  track  callsign Status
473                   466.0  127.0  TOM8VT      Far
1441                    NaN    NaN       NaN  Close
1442                  426.0  281.0       NaN  Close
1443                  426.0  281.0       NaN  Close
1445                  426.0  281.0  EZY57FZ   Close
...                     ...    ...       ...    ...
33668                 461.0  284.0  AUA97     Close
33669                 461.0  283.0  AUA97     Close
33670                 461.0  283.0  AUA97     Close
33671                 461.0  283.0  AUA97     Close
33672                 461.0  284.0  AUA97     Close

[5644 rows x 13 columns]
DataFrame with new column:
      hex_ident  altitude(feet)  latitude  longitude        date  \
0        40631C           14525  53.65947   -1.43819  2017/09/11
1        40631C           14525  53.65956   -1.43921  2017/09/11
2        40631C           14500  53.65979   -1.44066  2017/09/11
3        40631C           14475  53.66025   -1.44447  2017/09/11
4        40631C           14475  53.66044   -1.44591  2017/09/11
...         ...             ...       ...        ...         ...
33761    4CA5EA            3850  53.74255   -1.47028  2017/09/16
33762    4CA5EA            3850  53.74312   -1.47128  2017/09/16
33763    4CA5EA            3800  53.74428   -1.47322  2017/09/16
33764    4CA5EA            3750  53.74596   -1.47588  2017/09/16
33765    4CA5EA            3350  53.76122   -1.50068  2017/09/16

               time   angle  distance(nauticalmile)  squawk  \
0      17:02:06.418 -120.77                   11.27  6276.0
1      17:02:06.875 -120.64                   11.30  6276.0
2      17:02:07.342 -120.43                   11.32  6276.0
3      17:02:09.238 -119.94                   11.40  6276.0
4      17:02:09.825 -119.75                   11.43  6276.0
...             ...     ...                     ...     ...
33761  10:38:26.698 -100.71                    9.68  3123.0
33762  10:38:27.687 -100.54                    9.70  3123.0
33763  10:38:29.652 -100.21                    9.75  3123.0
33764  10:38:32.596  -99.75                    9.81  3123.0
33765  10:38:58.941  -95.84                   10.47  3123.0

       ground_speed(knotph)  track  callsign Status
0                     299.0  283.0       NaN  Close
1                     299.0  283.0       NaN  Close
2                     299.0  283.0  EZY63BT   Close
3                     299.0  283.0  EZY63BT     Far
4                     299.0  283.0  EZY63BT     Far
...                     ...    ...       ...    ...
33761                 178.0  316.0  RYR68VH   Close
33762                 177.0  316.0  RYR68VH   Close
33763                 177.0  316.0  RYR68VH   Close
33764                 177.0  316.0  RYR68VH   Close
33765                 173.0  316.0   RYR68VH  Close

[33766 rows x 13 columns]

In [10]:
# Summary statistics
print("Descriptive statistics:")
print(df.describe())
print()

# Value counts
print("Value counts of volume:")
print(df['time'].value_counts())
print()

# Mapping
df['Status'] = df['distance(nauticalmile)'].map(lambda x: 'Close' if x < 11.4 else 'Far')
print("DataFrame with mapped column:")
print(df)

Descriptive statistics:
       altitude(feet)      latitude     longitude         angle  \
count    33766.000000  33766.000000  33766.000000  33766.000000
mean     25982.962151     53.768006     -1.428324    -60.186330
std      11245.392364      0.148655      0.188929     95.677353
min       2325.000000     53.345630     -2.329810   -179.980000
25%      17575.000000     53.666890     -1.554142   -116.310000
50%      28025.000000     53.718680     -1.464570    -88.275000
75%      36000.000000     53.867468     -1.281400    -60.700000
max      44975.000000     54.563600     -0.836450    179.980000

       distance(nauticalmile)        squawk  ground_speed(knotph)  \
count            33766.000000  31779.000000          32695.000000
mean                12.318417   4023.870638            382.471326
std                  5.859085   2197.258777             97.250606
min                  0.130000    103.000000             85.000000
25%                  8.680000   2134.000000            342.000000
50%                 11.110000   3450.000000            400.000000
75%                 14.990000   6201.000000            450.000000
max                 54.180000   7775.000000            611.000000

              track
count  32560.000000
mean     265.872389
std       91.519903
min        1.000000
25%      270.000000
50%      288.000000
75%      331.000000
max      359.000000

Value counts of volume:
time
07:27:15.566    2
21:00:38.114    2
10:25:41.566    2
11:29:33.648    2
12:16:15.444    2
               ..
11:11:36.831    1
11:11:35.908    1
11:11:32.174    1
11:11:22.871    1
10:38:58.941    1
Name: count, Length: 33746, dtype: int64

DataFrame with mapped column:
      hex_ident  altitude(feet)  latitude  longitude        date  \
0        40631C           14525  53.65947   -1.43819  2017/09/11
1        40631C           14525  53.65956   -1.43921  2017/09/11
2        40631C           14500  53.65979   -1.44066  2017/09/11
3        40631C           14475  53.66025   -1.44447  2017/09/11
4        40631C           14475  53.66044   -1.44591  2017/09/11
...         ...             ...       ...        ...         ...
33761    4CA5EA            3850  53.74255   -1.47028  2017/09/16
33762    4CA5EA            3850  53.74312   -1.47128  2017/09/16
33763    4CA5EA            3800  53.74428   -1.47322  2017/09/16
33764    4CA5EA            3750  53.74596   -1.47588  2017/09/16
33765    4CA5EA            3350  53.76122   -1.50068  2017/09/16

               time   angle  distance(nauticalmile)  squawk  \
0      17:02:06.418 -120.77                   11.27  6276.0
1      17:02:06.875 -120.64                   11.30  6276.0
2      17:02:07.342 -120.43                   11.32  6276.0
3      17:02:09.238 -119.94                   11.40  6276.0
4      17:02:09.825 -119.75                   11.43  6276.0
...             ...     ...                     ...     ...
33761  10:38:26.698 -100.71                    9.68  3123.0
33762  10:38:27.687 -100.54                    9.70  3123.0
33763  10:38:29.652 -100.21                    9.75  3123.0
33764  10:38:32.596  -99.75                    9.81  3123.0
33765  10:38:58.941  -95.84                   10.47  3123.0

       ground_speed(knotph)  track  callsign Status
0                     299.0  283.0       NaN  Close
1                     299.0  283.0       NaN  Close
2                     299.0  283.0  EZY63BT   Close
3                     299.0  283.0  EZY63BT     Far
4                     299.0  283.0  EZY63BT     Far
...                     ...    ...       ...    ...
33761                 178.0  316.0  RYR68VH   Close
33762                 177.0  316.0  RYR68VH   Close
33763                 177.0  316.0  RYR68VH   Close
33764                 177.0  316.0  RYR68VH   Close
33765                 173.0  316.0   RYR68VH  Close

[33766 rows x 13 columns]

***

In [17]:
# Grouping and calculating mean age by gender
print("Mean  distance by status:")
print(df.groupby('Status')['distance(nauticalmile)'].mean())

# Sorting by age in descending order
print("Sorted by Distance:")
print(df.sort_values(by='distance(nauticalmile)', ascending=True))

Mean  distance by status:
Status
Close     8.186938
Far      16.841002
Name: distance(nauticalmile), dtype: float64
Sorted by Distance:
      hex_ident  altitude(feet)  latitude  longitude        date  \
4683     484B90           31025  53.79030   -1.20567  2017/09/12
4682     484B90           31025  53.79195   -1.20833  2017/09/12
4681     484B90           31000  53.79332   -1.21132  2017/09/12
4684     484B90           31025  53.78897   -1.20276  2017/09/12
31203    400AF8           38000  53.78865   -1.21791  2017/09/15
...         ...             ...       ...        ...         ...
26967    400F99           33150  54.38847   -2.28907  2017/09/15
18204    40624F           36025  54.39294   -2.29340  2017/09/14
19726    406667           37975  54.39452   -2.29980  2017/09/14
19727    406667           37975  54.40271   -2.30904  2017/09/14
1349     400FE3           37225  54.42073   -2.31146  2017/09/11

               time  angle  distance(nauticalmile)  squawk  \
4683   10:05:42.962  81.89                    0.13  7624.0
4682   10:05:41.847  22.60                    0.13  7624.0
4681   10:05:40.867 -29.27                    0.22  7624.0
4684   10:05:43.881  97.70                    0.23  7624.0
31203  18:35:10.821 -97.99                    0.31  4231.0
...             ...    ...                     ...     ...
26967  10:20:13.116 -59.81                   52.28     NaN
18204  10:17:41.027 -59.73                   52.58  6244.0
19726  12:36:24.722 -59.81                   52.80  7764.0
19727  12:36:29.572 -59.68                   53.37  7764.0
1349   21:08:51.902 -59.01                   54.18   660.0

       ground_speed(knotph)  track  callsign Status
4683                  481.0  130.0  KLM20J    Close
4682                  481.0  130.0  KLM20J    Close
4681                  481.0  130.0  KLM20J    Close
4684                  481.0  130.0  KLM20J    Close
31203                 421.0  352.0  EZY14ZY   Close
...                     ...    ...       ...    ...
26967                   NaN    NaN       NaN    Far
18204                 442.0  337.0  SHT18D      Far
19726                 449.0  327.0  EZY89JR     Far
19727                 449.0  327.0  EZY89JR     Far
1349                  438.0  334.0  EZY61XZ     Far

[33766 rows x 13 columns]

***

In [19]:
# Data types of columns
print("Data types:")
print(df.dtypes)
print()

# Checking for missing values
print("Missing values:")
print(df.isna().sum())

Data types:
hex_ident                  object
altitude(feet)              int64
latitude                  float64
longitude                 float64
date                       object
time                       object
angle                     float64
distance(nauticalmile)    float64
squawk                    float64
ground_speed(knotph)      float64
track                     float64
callsign                   object
Status                     object
dtype: object

Missing values:
hex_ident                    0
altitude(feet)               0
latitude                     0
longitude                    0
date                         0
time                         0
angle                        0
distance(nauticalmile)       0
squawk                    1987
ground_speed(knotph)      1071
track                     1206
callsign                  2582
Status                       0
dtype: int64

***

In [30]:
# Creating two DataFrames
data1 = {'Name': ['Alice', 'Bob', 'Charlie'],
         'Age': [25, 30, 35]}
df1 = pd.DataFrame(data1)

data2 = {'Name': ['David', 'Eve', 'Frank'],
         'Age': [40, 45, 50]}
df2 = pd.DataFrame(data2)
print(df1)
print()
print(df2)

print()
# Renaming columns
df1.rename(columns={'Age': 'Years'}, inplace=True)
print("Renamed DataFrame:")
print(df1)

print()
# Combining DataFrames by concatenating rows
combined_df = pd.concat([df1, df2], ignore_index=True)
print("Combined DataFrame:")
print(combined_df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

    Name  Age
0  David   40
1    Eve   45
2  Frank   50

Renamed DataFrame:
      Name  Years
0    Alice     25
1      Bob     30
2  Charlie     35

Combined DataFrame:
      Name  Years   Age
0    Alice   25.0   NaN
1      Bob   30.0   NaN
2  Charlie   35.0   NaN
3    David    NaN  40.0
4      Eve    NaN  45.0
5    Frank    NaN  50.0